*/ {
  padding: 0;
  margin: 0;
}

body {
  height: 800px;
  z-index: 0;
  
  background-color: #808080;
}


header {
  position: relative;
  top: 20px;
  left: 40px;
  z-index: 100;
  
  float: left;
  width: 480px;
  height: 70px;
  
  background-color: #ffff00;
 
}
aside {
  position: relative;
  left: -640px;
  z-index: 0;
  
  display: block;
  float: left;
  width: 25%;
  height: 1000px;
  
  background-color: #f5f5f5;
  
}
  
  main {
    position: relative;
    bottom: 930px;

    display: block;
    float: right;
    width: 70%;
    height: 900px;
    
    background-color: #ffffff;
    border: 4px solid #000000;
}

footer {
  position: relative;
  bottom: 908px;
  left: 3.5px;
  
  float: left;
  width: 100%;
  height: 100px;
  
  background-color: #ffff00;
}

.me {
  position: relative;
  left:50px;
  top: 17.5px;
  z-index: 200;
  
  display: block;
  float: left;
  width: 160px;
  height: 230px;
  
  border: 2px solid #ffff00;
}

.nav .li{
  position: relative;
  top: -80px;
  right: -350px;
  
  display: inline;
  float: left;
  width: 110px;
  padding-right: 40px;

  cursor: pointer;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  color: #000000;
}

.nav
 .li:hover {
  background-color: #000000;

}

#contacts {
  position: relative;
  top: 230px;
  left: 0px;
  
  line-height: 50px;

}

h2 {
  position: relative;
  left: 55px;
  top: 20px;
}

.about {
  position: relative;
  top:-40px;
  left: 20px;

  display: block;
  float: left;
  height: 200px;
  width: 840px;

  text-align: center;
  
  color: #f5f5f5;
  background-color: #808080;
  border: 2px solid #000000;
  
}

#about_text {
  margin: 10px;
  font-size: 20px;
  line-height: 25px;

}

.section
 #aducation {
  position: relative;
  left: 70px;
  top: -227px;
  
  float: left;
  width: 300px;
  height: 300px;
  

  text-align: center;
  
  border: 2px solid #000000;
  
}

.section
 #text_aduc {
  position: relative;
  left: 70px;
  bottom: 490px;

  width: 220px;
  line-height: 30px;
}

.section_hobby
#hobby {
  position: relative;
  left: -60px;
  top: 30px;

  
  float: right;
  width: 300px;
  height: 300px;
  
  text-align: center;
  
  border: 2px solid #000000;

}

.section_hobby 
#text_hobby {
  position: relative;
  top: 100px;
  left: 525px;

  width: 220px;
  line-height: 27px;
}

.divcode {
  position: relative;
  left: 110px;
  top: -360px;

  width: 200px;
  display: block;
  float: left;

  border: 2px solid #000000;
 
}

.h2code {
  position: relative;
  top: -5px;
  left: 80px;
}

.code {
  position: relative;
  top: -5px;
  right: 250px;

  font-size: 16px;
}

.english {
  position: relative;
  left: 570px;
  bottom: 360px;
  
  width: 190px;
  height: 156px;

  border: 2px solid #000000;

}

#engl_text {
  position: relative;
  top: -140px;
  left: 27px;
}

#level {
  position: relative;
  top: -150px;
  left: 80px;

  font-size: 30px;
  font-style: italic;
} 

#konst {
  position: relative;
  left: 40px;
  bottom: 10px;
  
  font-size: 35px;
}

.a {
  color: #f5f5f5;
}
.a:hover{
  color: #ffff00;
}

#ssilka_rs {
  position: relative;
  left:250px;
  top: 15px;

  display: block;
  width: 170px;
  height: 30px;
  text-align: center;
  color: #ff0000;
  
  background-color: #f5f5f5;

}

#to_rs {
  position: relative;
  top: -35px;
}

#rs_school {
  position: relative;
  bottom: 80px;
  left: -400px;

  width: 150px;
  height: 150px;
}

#year {
  position: relative;
  left: -50px;
  top: 20px;
  
  float: right;
}

 #github
 .git {
  position: relative;
  top: 200px;
  

  float: right;
  color: #000000;
  background-color: #ffff00;

  font-size: 20px;
}

.github-icon {
  position: relative;
  top: 200px;

  width: 50px;
  height: 50px;

  z-index: 300;

}

.footer_nav .li{
  position: relative;
  top: 10px;
  left: 700px;
  
  display: inline;
  float: left;
  width: 110px;
  margin-right: 20px;

  cursor: pointer;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
  background-color: #000000;
  color: #000000;
}

.footer_nav
 .li:hover {
  background-color: #fafafa;
  color: #000000;

}
